
#empty-list-msg{
	text-align: center;
	margin-top: 2em;
}

.formError{
	font-size: 0.85em;
	color: red;
}

.container-full-page{
	height: 100%; 
	min-height: 100vh;
}

.page-error-text{
	font-size: 1.5em;
	color: white;
}

.login-title{
	color: #ffb03b;
	margin-top: 5%;
}

.search-title{
	color: #ffb03b;
	margin-top: 10%;
	margin-bottom: 5%;
}

.register-title
{
	color: #ffb03b;
	margin-top: 5%;
	margin-bottom: 2%;
}

.list-title
{
	color: #ffb03b;
}


.full-viewport{
	height: 100vh;
}

#events-hompage {
  padding-top: 120px;
}


form{
	color: white;
}

th{
	color: white;
}

.table thead th{
	color: white;
}

.table td, .table th {
	color: white;
}

table{
	margin-top: 20px;
}

.table th{
	background: rgba(255,255,255,0.50);
}

.table td{
	background: rgba(255,255,255,0.25);
}

