<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/components :: head"></div>

<body>

	<div th:replace="fragments/components :: #topbar"></div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="home"><span>EatApp</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
          <ul>
              <li class="active"><a href="home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#events">Benefits</a></li>
              <li class="book-a-table"><a href="login">Login</a></li>
              <li class="book-a-table"><a href="register">Sign Up</a></li>
          </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->




  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background: url(img/slide/slide-1.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown"><span>This is</span> EatApp</h2>
                <p class="animated fadeInUp">Welcome to EatApp, the site that enables you to find out which establishments that provide food take looking after you seriously! You can see up to date food hygiene ratings and save any establishments you choose in your personal list.</p>
                <div>
                  <a href="login" class="btn-menu animated fadeInUp scrollto">Login</a>
                  <a href="register" class="btn-book animated fadeInUp scrollto">Sign Up</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background: url(img/slide/slide-2.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown"><span>Empowering</span> You</h2>
                <p class="animated fadeInUp">EatApp puts you to be in control, empowering you to make informed decisions about who provides your food, through up to date food hygiene ratings. The site search is responsive to any changes in ratings so you can be assured the most up to date information is provided.</p>
                <div>
                  <a href="#menu" class="btn-menu animated fadeInUp scrollto">Login</a>
                  <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Sign Up</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background: url(img/slide/slide-3.jpg);">
            <div class="carousel-background"><img th:src="@{img/slide/slide-3.jpg}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown"><span>As a</span> Data Source</h2>
                <p class="animated fadeInUp">EatApp consumes a REST API to provide you with the most up to date information, PLUS it provides a REST API interface through which EatApp data can be obtained (for details contact support).</p>
                <div>
                  <a href="#menu" class="btn-menu animated fadeInUp scrollto">Login</a>
                  <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Sign Up</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("img/about.jpg");'>

          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>What does <strong>Eat App</strong> do?</h3>
              <p>EatApp not only provides up to date food hygiene ratings from the Food Standards Agency but enables users to save a list, so preferred vendors can easily be remembered.
              </p>
              <p class="font-italic">
 				EatApp provides the information consumers want to know quickly, in a clear and easy understand format.</p>
              <ul>
                <li><i class="bx bx-check-double"></i> Search ratings provided by the Food Standard Agency.</li>
                <li><i class="bx bx-check-double"></i> Make informed decisions about who you want to provide your food.</li>
                <li><i class="bx bx-check-double"></i> Save your choices for easy access.</li>
              </ul>
              <p>
				EatApp makes sure that you can make decisions based on the actual data from the Food Standards Agency. You can make sure the ratings sticker presented in windows are valid using up to date information. 
              </p>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container">

        <div class="section-title">
          <h2>What are the benefits of <span>Eat App</span>?</h2>
        </div>

        <div class="owl-carousel events-carousel">

          <div class="row event-item">
            <div class="col-lg-6">
              <img th:src="@{img/event-birthday.jpg}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Relax and Enjoy!</h3>
              <div class="price">
                <p><span>Birthday Parties</span></p>
              </div>
              <p class="font-italic">
                A birthday party should be a time of celebration! EatApp can take organisational stress away by helping find quality food providers.
              </p>
              <ul>
                <li><i class="icofont-check-circled"></i> Stress taken out of selecting food providers.</li>
                <li><i class="icofont-check-circled"></i> Provides confidence in the chosen food providers.</li>
                <li><i class="icofont-check-circled"></i> Enables you to relax and enjoy the party!</li>
              </ul>
              <p>
				EatApp means you can pick food providers who are up to the task, meaning you can relax and join in the fun.
              </p>
            </div>
          </div>

          <div class="row event-item">
            <div class="col-lg-6">
              <img th:src="@{img/event-private.jpg}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Professional</h3>
              <div class="price">
                <p><span>Business Functions</span></p>
              </div>
              <p class="font-italic">
                Being asked to organise the Christmas party or any other food based work function can be difficult, make that decision easier with EatApp.
              </p>
              <ul>
                <li><i class="icofont-check-circled"></i> Impress colleagues with high standards.</li>
                <li><i class="icofont-check-circled"></i> Avoid professional embarrassment.</li>
                <li><i class="icofont-check-circled"></i> Relax, knowing you've made a good choice.</li>
              </ul>
              <p>
				Ensure you make the best impressions in the business World by going that extra step and ensuring it has high hygiene ratings.
              </p>
            </div>
          </div>

          <div class="row event-item">
            <div class="col-lg-6">
              <img th:src="@{img/event-custom.jpg}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>First Impressions</h3>
              <div class="price">
                <p><span>Dating</span></p>
              </div>
              <p class="font-italic">
				Make sure you make the best impression you can by selecting a food establishment with a rating that will ensure you enjoy your time together.
              </p>
              <ul>
                <li><i class="icofont-check-circled"></i> Helps find somewhere with confidence.</li>
                <li><i class="icofont-check-circled"></i> Enables you to relax and have fun.</li>
                <li><i class="icofont-check-circled"></i> Save good establishments, so if this date doesn't go well....</li>
              </ul>
              <p>
				Let EatApp take some of the stress out of dating, leaving you free to enjoy your time together. 
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Events Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="fragments/components :: footer"></div>
  
</body>

</html>