<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/components :: head"></div>

<body>

	<div th:replace="fragments/components :: #topbar"></div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>EatApp</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
          <ul>
              <li class="active"><a href="home">Home</a></li>
          </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  <main>
    <!-- ======= Events Section ======= -->
    <section id="events-hompage" class="events">
      <div class="container full-viewport">

            <h2 class="register-title text-center">User Registration</h2>

			<div th:if="${error}">
  				<h3>That username is in use, please register with a different one</h3>
 			</div>

            <form th:action="@{/register}" th:object="${user}"  method="post">
            
            
				<div class="form-row">
    				<div class="form-group col-md-6">
                        <label class="control-label">Username</label>
						<input type="text" th:field="*{username}" class="form-control" placeholder="Username"/>
    				</div>
    				<div class="form-group col-md-6">
	   				    <label class="control-label">Password</label>
						<input type="password" th:field="*{username}" class="form-control" placeholder="Password"/>
    				</div>
  				</div>
				<div class="form-row">
    				<div class="form-group col-md-6">
                        <label class="control-label">First Name</label>
						<input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name"/>
    				</div>
    				<div class="form-group col-md-6">
                        <label class="control-label">Last Name</label>
						<input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name"/>
    				</div>
  				</div>
			
			
				<div class="form-row">
    				<div class="form-group col-md-6">
                        <label class="control-label">Age</label>
						<input type="number" th:field="*{age}" class="form-control" placeholder="Age"/>
    				</div>
    				<div class="form-group col-md-6">
                        <label class="control-label">Phone</label>
						<input type="number" th:field="*{phone}" class="form-control" placeholder="Phone Number"/>
    				</div>
  				</div>
			
		
		
		
				<div class="form-row">
    				<div class="form-group col-md-6">
                        <label class="control-label">Postcode</label>
						<input type="text" th:field="*{postcode}" class="form-control" placeholder="Postcode"/>
    				</div>
  				</div>
			
	          <div class="form-row justify-content-center">
		               <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>




		</div>
    </section><!-- End Events Section -->
  </main><!-- End #main -->



  <!-- ======= Footer ======= -->
 <div th:replace="fragments/components :: footer"></div>
	

</body>

</html>