<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/components :: head"></div>

<body>

	<div th:replace="fragments/components :: #topbar"></div>

	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top d-flex align-items-center">
		<div class="container d-flex align-items-center">

			<div class="logo mr-auto">
				<h1 class="text-light">
					<a href="index.html"><span>EatApp</span></a>
				</h1>
				<!-- Uncomment below if you prefer to use an image logo -->
				<!-- <a href="index.html"><img src="img/logo.png" alt="" class="img-fluid"></a>-->
			</div>

			<nav class="nav-menu d-none d-lg-block">
				<ul>
					<li class="active"><a href="search">Search</a></li>
					<li><a href="list">Your list</a></li>
					<li><a href="logout">Log Out</a></li>
				</ul>
			</nav>
			<!-- .nav-menu -->

		</div>
	</header>
	<!-- End Header -->
	<main>
		<!-- ======= Events Section ======= -->
		<section id="events-hompage" class="events">
			<div class="container">

				<h2 class="search-titles text-center">Find an Establishment by</h2>

				<form class="form-inline justify-content-center" th:action="@{/search}"
					th:object="${establishment}" method="post">



					<input type="text" class="form-control mb-2 mr-sm-2  col-md-6" th:field="*{name}" placeholder="Establishment Name">
					<div> and/or &nbsp; </div>
  					<input type="text" class="form-control mb-2 mr-sm-2  col-md-3" th:field="*{postcode}" placeholder="Postcode">
				
				
				
				
					<button type="submit" class="btn btn-primary mb-2">Submit</button>
				</form>
			</div>
		</section>
		<!-- End Events Section -->
	</main>
	<!-- End #main -->



	<!-- ======= Footer ======= -->
	<div th:replace="fragments/components :: footer"></div>

</body>

</html>